{% extends 'base.html.twig' %}

{% block title %}Torneig{% endblock %}

{% block body %}
    <div class="container mt-5">
        <div class="row">
            {# <div class="col-2"></div> #}
            <div class="col-12 p-3 rounded shadow" style="background-color: rgba(255,255,255,0.4)">
                <h1>Torneig</h1>

                <table class="table table-striped table-bordered shadow round" style="width:100%">
                    <tbody>
                    <tr>
                        <th>Id</th>
                        <td>{{ torneig.id }}</td>
                    </tr>
                    <tr>
                        <th>Nom</th>
                        <td>{{ torneig.nom }}</td>
                    </tr>
                    <tr>
                        <th>NumeroByes</th>
                        <td>{{ torneig.numeroByes }}</td>
                    </tr>
                    <tr>
                        <th>Pais</th>
                        <td>{{ torneig.pais }}</td>
                    </tr>
                    <tr>
                        <th>NumRondes</th>
                        <td>{{ torneig.numRondes }}</td>
                    </tr>
                    </tbody>
                </table>

                <a class="btn-light btn" href="{{ path('torneig_index') }}"><i class="bi bi-arrow-return-left"></i>
                    Tornar Enrera</a>

                <a class="btn btn-light" href="{{ path('torneig_edit', {'id': torneig.id}) }}" title="Editar"><i
                            class="bi bi-pencil"> </i></a>
                {{ include('torneig/_delete_form.html.twig') }}
            </div>
        </div>
    </div>

{% endblock %}
