<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet"
          id="bootstrap-css">

    <link rel="icon" href="{{ '/imgs/iconKing.png' }}">
    {# <link rel="icon" href="{{ asset('/imgs/iconKing.png') }}"> #}
    {# per el data table #}
    <script type="text/javascript"
            src="https://cdn.datatables.net/v/bs4-4.1.1/jq-3.3.1/dt-1.10.22/r-2.2.6/datatables.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">

    <link rel="stylesheet" href="{{ '/css/styles.css' }}">
    <link rel="stylesheet" type="text/css"
          href="https://cdn.datatables.net/v/dt/dt-1.10.22/r-2.2.6/datatables.min.css"/>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">

    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.22/r-2.2.6/datatables.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
            crossorigin="anonymous"></script>


    <link rel="stylesheet" type="text/css" href="
                {% block estil %}
                    {{ '/css/styles.css' }}
                {% endblock %}"/>

    <title>{% block title %}Welcome!{% endblock %}</title>


</head>


<body style="background-image:url('{{ '/imgs/background2.jpg' }}'); background-attachment: fixed;">




{% if app.session.get('arbitreLogged') == null  %}

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand js-scroll-trigger" href="{{ path('main') }}"> Chess&nbsp;<img width="40px"
                                                                                             src="{{ '/imgs/iconKing.png' }}"
                                                                                             alt=""/>&nbsp;King</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link active" href="{{ path("torneig_index_clean") }}"> Tornejos </a>
                <a class="nav-item nav-link active" href="{{ path("jugador_index_clean") }}"> Jugadors </a>
            </div>
        </div>
    </nav>

{% else %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">

        <a class="navbar-brand js-scroll-trigger" href="{{ path('main') }}"> Chess&nbsp;<img width="40px"
                                                                                             src="{{ '/imgs/iconKing.png' }}"
                                                                                             alt=""/>&nbsp;King</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Torneig
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="{{ path("torneig_index") }}"><i class="bi bi-card-list"></i> Veure Tornejos</a></li>
                        <li><a class="dropdown-item" href="{{ path("torneig_new") }}"><i class="bi bi-plus"></i> Crear Torneig</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Jugadors
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="{{ path("jugador_index") }}"><i class="bi bi-card-list"></i> Veure Jugadors</a></li>
                        <li><a class="dropdown-item" href="{{ path("jugador_new") }}"><i class="bi bi-plus"></i> Crear Jugador</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="navbar-nav text-uppercase ml-auto">
                {% if   app.session.get('arbitreLogged') == null %}

                {% else %}
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" style="color: white;"
                                            href="{{ path('logout') }}">LOG OUT</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

{% endif %}


{% block body %}{% endblock %}


{% block javascripts %}{% endblock %}
</body>
</html>
