{# {{ form_start(form) }} #}
{# {{ form_widget(form) }} #}
{# <button class="btn">{{ button_label|default('Save') }}</button> #}
{# {{ form_end(form) }} #}


{{ form_start(form) }}
    <div class="my-custom-class-for-errors">
        {{ form_errors(form) }}
    </div>



    <div class="container align-middle divLogin divCrearTorneig ">
        <div class="row customLoginRow m-0">
            <div class="col-10 p-3 rounded shadow" style="background-color: rgba(255,255,255,0.4)">

                <div class="form-group mt-3">
                    <div class="col-12 text-dark">
                      <strong>  {{ form_row(form.nom) }}</strong>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-12 text-dark">
                        <strong> {{ form_row(form.cognoms) }}</strong>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-12">
                        <strong>  {{ form_row(form.elo) }}</strong>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-12 text-dark">
                        <strong> {{ form_row(form.pais) }}</strong>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-12 text-dark">
                        <strong> {{ form_row(form.club) }}</strong>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-12 text-dark">
                        <strong> {{ form_row(form.dni) }}</strong>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-12 text-dark">
                        <strong> {{ form_row(form.dataNaixament) }}</strong>
                    </div>
                </div>
                <button class="btn btn-light"><i class="bi bi-save-fill"></i> {{ button_label|default('Guardar') }}</button>
            </div>
        </div>
    </div>

{{ form_end(form) }}

